html {
	width: 100%;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	background-color: #837886;
}
h1 {
	font-size: 50px;
}
.fairplex {
	font-family: fairplex-wide, serif;
	font-weight: 700;
	font-style: normal;
	color: #F8F5D2;
	clear: right;
}
.menu {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 6vh;
	margin-top: 4.7vh;
	height: 4vh;
	padding: 3px;
	transition: all 0.3s;
}
.menu:hover {
	background-color:#BAA5C0;
	cursor: pointer;
}
.title1 {
	position: absolute;
	top: 0vh;
	padding-left: 18vh;
	font-size: 6vh;
}
.footer {
	border-style: solid none none none;
	border-color: #988A9C;
	border-width: 0.7vh;
	background-color: #BAA5C0;
	position: fixed;
	bottom: 0;
	float: left;
	height: 8.5vh;
	width: 100%;
	display: flex;
	align-items: center;

}
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #988A9C;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F8F5D2;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 3vh;
  right: 6vh;
  font-size: 50px;
  margin-left: 50px;
}

.logo {
	position:absolute;
	top:3.5vh;
	left:6vh;
	height:7.5vh;
}

.gridContainer {
	display: grid;
	max-width: 100%;
	padding: 15.3vh 6vh 6vh 6vh;
	grid-gap: 6vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 9vh 55vh;
}

.gridContainerItem1 {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	align-items: center;
	justify-content: center;
}

.gridContainerItem2 {
	display: block;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
}

.gridContainerItem3 {
	display: flex;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	overflow: hidden;
	align-items:center;
	justify-content: center;
}

.gridContainerItem1, .gridContainerItem2, .gridContainerItem3 {
	background-color: #BAA5C0;
	border-radius: 10px;
}

.fairplexlight {
	font-family: fairplex-wide, serif;
	font-weight: 500;
	font-style: normal;;
	color: #F8F5D2;
}
