@charset "utf-8";
html {
	width: 100%;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	background-color: #837886;
}
h1 {
	font-size: 50px;
}
.fairplex {
	font-family: fairplex-wide, serif;
	font-weight: 700;
	font-style: normal;
	color: #F8F5D2;
	clear: right;
}
.menu {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 6vh;
	margin-top: 4.7vh;
	height: 4vh;
	padding: 3px;
	transition: all 0.3s;
}

.title1 {
	position: absolute;
	top: 0vh;
	padding-left: 18vh;
	font-size: 6vh;
}
.footer {
	border-style: solid none none none;
	border-color: #988A9C;
	border-width: 0.7vh;
	background-color: #BAA5C0;
	position: fixed;
	bottom: 0;
	float: left;
	height: 8.5vh;
	width: 100%;
	display: flex;
	align-items: center;

}
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #988A9C;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F8F5D2;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 5vh;
  right: 6vh;
  font-size: 50px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 44%;
  position: relative;
	top:15.3vh;
	margin-left: 6vh;
	background-color:#BAA5C0;
	height:73vh;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  margin-top:70%;
  width: auto;
  margin-top: -3vh;
  padding: 2vh;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  transition: background-color 0.6s ease;
  border-radius: 0 0.3vh 0.3vh 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 0.2vh 0 0 0.2vh;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.capText {
  color: #f2f2f2;
  font-size: 1.75vh;
	padding-right:6vh;
  position: absolute;
  bottom: 1.5vh;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 1.5vh;
	margin: 1vh;
  padding: 0.5vh 1vh;
  position: absolute;
  top: 0;
	background-color: #837886;
	border-radius: 24px;
}
.active, .dot:hover {
  background-color: #717171;
}

.fairplexlight {
	font-family: fairplex-wide, serif;
	font-weight: 500;
	font-style: normal;;
	color: #F8F5D2;
}

.imagslide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagslide2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* The Modal (background) */
.modal {
	opacity: 0.1;
  transition: all 0.5s;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 50vw;
	max-height:50vh;
	}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

img.demo {
	transition: all 0.3s;
  opacity: 0.6;
	padding:1vh;
	border-radius:10px;
}

.active,
.demo:hover {
  opacity: 1;
	cursor: pointer
}

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	background-color:#BAA5C0;
	width: 67%;
	height:100%;
	cursor: pointer;
	transition: transform 0.5s;
	-webkit-transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content:center;
	border-radius: 10px;
}

.image:hover {
	transform: scale(1.03);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buy:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}
.imageSmall {
	position: absolute;
	top: 15.3vh;
	width:45vw;
	margin-left: 6vh;
	height: 73vh;
	overflow: visible;
}

.logo {
	position:absolute;
	top:3.5vh;
	left:6vh;
	height:7.5vh;
}

.modalimage {
	border-radius:10px;
}

.menu:hover {
	transform: scale(1.05);
	background-color:#BAA5C0;
	cursor: pointer;
}

.gridContainerWebContent {
	display: grid;
	grid-template-areas: 
		"imagelink1 modalimage modalimage gametitle   gametitle   gametitle  "
		"imagelink1 modalimage modalimage gametitle   gametitle   gametitle  "
		"imagelink1 modalimage modalimage description description description"
		"imagelink2 modalimage modalimage description description description"
		"imagelink2 modalimage modalimage description description description"
		"imagelink2 modalimage modalimage description description description"
		"imagelink3 modalimage modalimage description description description"
		"imagelink3 modalimage modalimage description description description"
		"imagelink3 modalimage modalimage description description description"
		"imagelink4 modalimage modalimage description description description"
		"imagelink4 modalimage modalimage price       price       buy        "
		"imagelink4 modalimage modalimage price       price       buy        ";
	width: 100%;
	height: 72vh;
	margin-top: 15.3vh;
	grid-gap: 2.5vh;
	padding: 0 6vh 0 6vh;
}

.gameTitle {
	display: block;
	grid-area: gametitle;
	background-color: #BAA5C0;
	border-radius:10px;
}

.description {
	display: block;
	grid-area: description;
	background-color: #BAA5C0;
	border-radius:10px;
}

.price {
	display: block;
	grid-area: price;
	background-color: #BAA5C0;
	border-radius:10px;
}

.buy {
	display: block;
	grid-area: buy;
	background-color: #BAA5C0;
	border-radius:10px;
}

.modallink {
	grid-area: modalimage;
	background-color: #BAA5C0;
	border-radius:10px;
	max-width: 44vw;
	cursor: pointer;
	transition: transform 0.5s;
	-webkit-transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content:center;
	overflow: hidden;
}

.imagehover1 {
	display: block;
	grid-area: imagelink1;
	background-color: #BAA5C0;
	border-radius:10px;
}

.imagehover2 {
	display: block;
	grid-area: imagelink2;
	background-color: #BAA5C0;
	border-radius:10px;
}

.imagehover3 {
	display: block;
	grid-area: imagelink3;
	background-color: #BAA5C0;
	border-radius:10px;
}

.imagehover4 {
	display: block;
	grid-area: imagelink4;
	background-color: #BAA5C0;
	border-radius:10px;
}

.imageNonDiv {
	height: 100%;
}
